.brand-logo {
  display: flex;
  width: 224px;
  height: 102px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.brand-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 620px) {
  .brand-logo {
    width: 176px;
    height: 80px;
  }

  .brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
